<p> Welcome {{userName}}.
</p>
<div class="container">
You can view all the employee Details by clicking <a routerLink="/todos">here</a>
</div>
<div class="container">
Get Customized Message <button (click)="getCustomizedMessage()" class="btn btn-success">Click here</button>
<button (click)="getCustomizedPathMessage()" class="btn btn-success">I am feeling lucky</button></div>

    
<div class="container" *ngIf="message">
    {{message1}}
</div>
<div class="container" *ngIf="errorMsg">
    {{errorMsg}}
</div>